.base-primary {
    background-color: #0c669b;
}
.base-secondary {
    background-color: #ffffff;
}
.base-primary-50 {
    background-color: #7ec8d2;
}

body {
    padding-top: 3rem;
    color: rgb(var(--bs-tertiary-color-rgb));
}